<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= @question.errors.count %>個のエラーがあります:</h2>

      <ul>
      <% @question.errors.each do |attribute, msg| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<form class="form-horizontal">
  
  <div class="form-group form-group-sm has-warning">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-1 text-nowrap"><%= f.label "件名:", :class => "control-label" %></div>
        <div class="col-xs-12 col-sm-11"><%= f.text_field :title, :class => "form-control" %></div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-1 text-nowrap control-label"><%= f.label "コース:" %></div>
        <div class="col-xs-12 col-sm-1 col-sm-offset-10 col-sm-pull-10 text-nowrap">
          <%= f.select :course, [["", 0], ["Ruby on Rails", 1], ["WordPress", 2], ["Webデザイン", 3], ["その他", 4]] %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-1 text-nowrap"><%= f.label "カテゴリー:", :class => "control-label" %></div>
        <div class="col-xs-12 col-sm-1 col-sm-offset-10 col-sm-pull-10 text-nowrap">
          <%= f.select :category, [["", 0], ["カリキュラム", 1], ["教材", 2], ["授業料", 3], ["その他", 4]] %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-1 text-nowrap"><%= f.label "質疑内容:", :class => "control-label" %></div>
        <div class="col-xs-12 col-sm-11"><%= f.text_area :content, :class => "form-control" %></div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-1"><div class="actions"><%= f.submit %></div></div>
        <div class="hidden-xs col-sm-10"><p></p></div>
      </div>
    </div>
  </div>
  
</form>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>

<% end %>
