<p id="notice"><%= notice %></p>

<%= link_to "ブログを投稿する！", new_blog_path %>

<% @blogs.each do |blog| %>
 <div class="panel panel-primary">
     <div class="panel-heading">
<<<<<<< HEAD
         <h3 class="panel-title"><%= link_to blog.title, blog_path(blog.id) %></h3>
=======
         <h3 class="panel-title"><%= blog.title %></h3>
>>>>>>> deccc4da04dab670391355a8a9349c6d7167786f
     </div>
     <div class="panel-body">
         <%= blog.content %><br>


         <P><% @user=User.find(blog.user_id) %>
         <%= profile_img(@user) %>投稿者:<%= blog.user.name %></P>

         <em><%= blog.created_at %></em>

          <% if current_user.id == blog.user_id %>
　　　　　<%= link_to 'Edit', edit_blog_path(blog.id) %> | 
          <%= link_to 'Delete', blog_path(blog.id), :method => :delete %>
          <% else %>

          <% end %>
     </div>
 </div>
<% end %>