<<<<<<< HEAD
=======
<p id="notice"><%= notice %></p>

>>>>>>> deccc4da04dab670391355a8a9349c6d7167786f
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<<<<<<< HEAD
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @blog.comments } %>
</div>


<p>
  <%= render partial: 'comments/form', locals: { comment: @comment } %>
</p>

=======
>>>>>>> deccc4da04dab670391355a8a9349c6d7167786f
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>