<h2>ユーザー情報変更: </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :ユーザー名 %> <br />
    <%= f.text_field :name, autocomplete: "off" %>
  </div>
  

  <div class="field">
    <%= f.label :新パスワード %> <i>(変更しない場合は、何も入力しないでください)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :確認のため、再度新パスワードを入力してください %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %> <i>(ユーザー情報を変更するために、現在のパスワードを入力ください)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "ユーザー情報を更新する" %>
  </div>
<% end %>

<h3>ユーザー情報（アカウント）の削除:</h3>

<p>一度ユーザー情報を削除すると、すべての情報を失われ、ログインできなきなりますのでご了承ください<%= button_to "ユーザー情報（アカウント）を削除する", registration_path(resource_name), data: { confirm: "本当に削除してもよろしいですか？?" }, method: :delete %></p>

<%= link_to "戻る", :back %>
