
<%= form_for([@user, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @task.user == current_user %>
  <% if @task.project.present? %>
  <div class="form-group">
    <%= f.label :プロジェクトタイトル%><br>
    <%= @task.project.title %>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="form-group">
    <%= f.label :タスクタイトル %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :タスク内容 %><br>
    <%= f.text_area :content, :class => "form-control", :rows => "7" %>
  </div>
  <div class="form-group">
    <%= f.label :deadline %><br>
    <%= f.datetime_select :deadline, :use_month_numbers => true, :default => Time.now + 1.day + 9.hour %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :charge_id %>
  </div>
  <div class="form-group">
    <%= f.label :ステータス %><br>
    <%= f.select :status, [["未着手/未依頼","0"],["対応中/依頼中","1"]]%>
  </div>
<% else %>
  <% if @task.project.present? %>
  <div class="form-group">
    <%= f.label :プロジェクトタイトル%><br>
    <%= @task.project.title %>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :user_id %>
  </div>
  
  <div class="form-group">
    <%= f.label :タスクタイトル %><br>
    <%= @task.title %>
  </div>
  <div class="form-group">
    <%= f.label :タスク内容 %><br>
    <%= @task.content %>
  </div>
  <div class="form-group">
    <%= f.label :deadline %><br>
    <%= @task.deadline.strftime("%Y年%m月%d日 %H時%M分") %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :charge_id %>
  </div>
  <div class="form-group">
    <%= f.label :ステータス %><br>
    <%= @task.status_name %>
  </div>
<% end %>

  <div class="form-group">
    <%= f.label :完了チェック %><br>
    <%= f.check_box :done %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
