<div class="container">
<h2>タスク概要:</h2>
</div>

<div class="container">
    <div class="panel panel-primary">
         <div class="panel-heading">
              <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                       <h1 class="panel-title">タスク名#  <%= @task.title %>
                       <% unless @task.project.nil? %>
                       in プロジェクト: <%= link_to @task.project.title, project_path(@task.project) %>
                       <% else %>
                       <% end %>
                    </div>
                  </div>
              </div>
         </div>
    
         <div class="panel-body">

           <div class="row">
                <div class="col-xs-12 col-sm-1 text-nowrap">
                    <%= profile_img(@task.user) %>
                </div>
                <div class="col-xs-12 col-sm-11">
                   ＜タスク作成者＞: <%= @task.user.name %><br />
                </div>
            </div>
            
            <br />

            <div class="row">
                <% unless @task.charge.nil? %>
                <div class="col-xs-12 col-sm-1 text-nowrap">
                    <%= profile_img(@task.charge) %>
                </div>
                <div class="col-xs-12 col-sm-11">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                    ＜タスク担当者＞: <%= @task.charge.name %>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                    ＜タスク期限＞: <%= @task.deadline %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                    ＜ステータス＞: <%= if @task.status == 1 then "対応開始済み" elsif @task.status == 0 then "未着手" end %>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                    ＜完了チェック＞: <%= @task.done_display_name %>
                    </div>
                  </div>
                </div>
                <% else %>
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                    ＜タスク担当者＞: 未設定
                    </div>
                    <div class="col-xs-12 col-sm-6">
                    ＜タスク期限＞: <%= @task.deadline %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                    ＜ステータス＞: <%= if @task.status == 1 then "対応開始済み" elsif @task.status == 0 then "未着手" end %>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                    ＜完了チェック＞: <%= if @task.done? then "完了" else "未完了" end %>
                    </div>
                  </div>
                </div>
                <% end %>
            </div>
            

            <div class="row">
                <div class="col-xs-12">
                ＜タスク内容＞: <%= simple_format(@task.content) %>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                  <%= render partial: 'taskline/tasks/goodjob', locals: {goodjob: @task.goodjobs.build} %>
                </div>
                <div class="col-xs-12">
                  <div id="goodjob_<%= @task.id %>">
                      <%= render partial: 'taskline/tasks/gjbcount', locals: {gjb_count: @task.goodjobs.sum(:number)} %>             
                  </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                  <%= render partial: 'taskline/task_comments/form', locals: {task_comment: @task.task_comments.build(user_id: current_user.id)} %>
                  <% unless @task.task_comments.nil? %>
                  <div id="feedtask_<%= @task.id %>">
                  <%= render partial: 'taskline/task_comments/index', locals: {task_comments: @task.task_comments} %>             
                  </div>
                  <% else %>
                  <% end %>
                </div>
            </div>
  
  
         </div>
         
         <div class="panel-footer text-right">
           <% if current_user == @task.user %>
              <% unless @task.project.nil? %>
              <%= link_to 'タスク編集', edit_project_project_task_path(@task.project, @task) %>｜<%= link_to 'タスク削除', @task, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
              <%= link_to 'タスク編集', edit_user_task_path(@task.user, @task) %>｜<%= link_to 'タスク削除', @task, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
           <% else %>
           <% end %>
           | <%= link_to 'マイタスク一覧へ戻る', user_tasks_path(@task.user) %>
           <% unless @task.project.nil? %>
           | <%= link_to 'プロジェクトタスク一覧へ戻る', project_path(@task.project) %>
           <% else %>
           <% end %>
         </div>
         
    </div>
</div>