<% provide(:title, 'All users') %>

<h1>ユーザー一覧</h1>

<div class="container-fluid">
    <div class="row">
        
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <table class="table table-hover">
                    
                    <thead>
                        <tr>
                            <th>ユーザ名</th>
                            <th>友達つながり</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.order(id: :asc).limit(10).each do |user| %>
                        <tr>
                            <td>
                                <%= link_to profile_img(user), user %>
                                <%= link_to user.name, user %>
                            </td>
                            <td>
                                <% unless user == current_user %>
                                <%= render partial: 'follow_form', locals: { user: user } %>
                                <% else %>
                                <%= link_to "マイアカウント", user, class: "btn btn-info btn-sm" %>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        
        <% if @users.count >= 10 %>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <table class="table table-hover">
                    <thead class="hidden-xs">
                        <tr>
                            <th>ユーザ名</th>
                            <th>友達つながり</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.order(id: :asc).last(10).each do |user| %>
                        <tr>
                            <td>
                                <%= link_to profile_img(user), user %>
                                <%= link_to user.name, user %>
                            </td>
                            <td>
                                <% unless user == current_user %>
                                <%= render partial: 'follow_form', locals: { user: user } %>
                                <% else %>
                                <%= link_to "マイアカウント", user, class: "btn btn-info btn-sm" %>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <% else %>
        <% end %>
        
    </div>
    <%= paginate @users %>
</div>



　
　