<h1>ユーザー一覧</h1>

<div class="container-fluid">
    <div class="row">
        
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <table class="table table-hover">
                    
                    <thead>
                        <tr>
                            <th>ユーザ名</th>
                            <th>友達つながり</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.order(id: :asc).limit(10).each do |user| %>
                        <tr>
                            <td>
                                <%= link_to profile_img(user), user %>
                                <%= link_to user.name, user %>
                            </td>
                            <td>
                                <% unless user == current_user %>
                                <%= render partial: 'follow_form', locals: { user: user } %>
                                <%= link_to '>>メッセージ送信', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
                                <% else %>
                                <%= link_to "マイアカウント", user, class: "btn btn-info btn-sm" %>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        
        <% if @users.count == 20 %>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <table class="table table-hover">
                    <thead class="hidden-xs">
                        <tr>
                            <th>ユーザ名</th>
                            <th>友達つながり</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.order(id: :asc).last(10).each do |user| %>
                        <tr>
                            <td>
                                <%= link_to profile_img(user), user %>
                                <%= link_to user.name, user %>
                            </td>
                            <td>
                                <% unless user == current_user %>
                                <%= render partial: 'follow_form', locals: { user: user } %>
                                <%= link_to '>>メッセージ送信', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
                                <% else %>
                                <%= link_to "マイアカウント", user, class: "btn btn-info btn-sm" %>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <% elsif @users.count == 19 %>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <table class="table table-hover">
                    <thead class="hidden-xs">
                        <tr>
                            <th>ユーザ名</th>
                            <th>友達つながり</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.order(id: :asc).last(9).each do |user| %>
                        <tr>
                            <td>
                                <%= link_to profile_img(user), user %>
                                <%= link_to user.name, user %>
                            </td>
                            <td>
                                <% unless user == current_user %>
                                <%= render partial: 'follow_form', locals: { user: user } %>
                                <%= link_to '>>メッセージ送信', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
                                <% else %>
                                <%= link_to "マイアカウント", user, class: "btn btn-info btn-sm" %>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <% elsif @users.count == 18 %>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <table class="table table-hover">
                    <thead class="hidden-xs">
                        <tr>
                            <th>ユーザ名</th>
                            <th>友達つながり</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.order(id: :asc).last(8).each do |user| %>
                        <tr>
                            <td>
                                <%= link_to profile_img(user), user %>
                                <%= link_to user.name, user %>
                            </td>
                            <td>
                                <% unless user == current_user %>
                                <%= render partial: 'follow_form', locals: { user: user } %>
                                <%= link_to '>>メッセージ送信', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
                                <% else %>
                                <%= link_to "マイアカウント", user, class: "btn btn-info btn-sm" %>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <% elsif @users.count == 17 %>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <table class="table table-hover">
                    <thead class="hidden-xs">
                        <tr>
                            <th>ユーザ名</th>
                            <th>友達つながり</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.order(id: :asc).last(7).each do |user| %>
                        <tr>
                            <td>
                                <%= link_to profile_img(user), user %>
                                <%= link_to user.name, user %>
                            </td>
                            <td>
                                <% unless user == current_user %>
                                <%= render partial: 'follow_form', locals: { user: user } %>
                                <%= link_to '>>メッセージ送信', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
                                <% else %>
                                <%= link_to "マイアカウント", user, class: "btn btn-info btn-sm" %>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <% elsif @users.count == 16 %>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <table class="table table-hover">
                    <thead class="hidden-xs">
                        <tr>
                            <th>ユーザ名</th>
                            <th>友達つながり</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.order(id: :asc).last(6).each do |user| %>
                        <tr>
                            <td>
                                <%= link_to profile_img(user), user %>
                                <%= link_to user.name, user %>
                            </td>
                            <td>
                                <% unless user == current_user %>
                                <%= render partial: 'follow_form', locals: { user: user } %>
                                <%= link_to '>>メッセージ送信', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
                                <% else %>
                                <%= link_to "マイアカウント", user, class: "btn btn-info btn-sm" %>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <% elsif @users.count == 15 %>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <table class="table table-hover">
                    <thead class="hidden-xs">
                        <tr>
                            <th>ユーザ名</th>
                            <th>友達つながり</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.order(id: :asc).last(5).each do |user| %>
                        <tr>
                            <td>
                                <%= link_to profile_img(user), user %>
                                <%= link_to user.name, user %>
                            </td>
                            <td>
                                <% unless user == current_user %>
                                <%= render partial: 'follow_form', locals: { user: user } %>
                                <%= link_to '>>メッセージ送信', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
                                <% else %>
                                <%= link_to "マイアカウント", user, class: "btn btn-info btn-sm" %>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <% elsif @users.count == 14 %>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <table class="table table-hover">
                    <thead class="hidden-xs">
                        <tr>
                            <th>ユーザ名</th>
                            <th>友達つながり</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.order(id: :asc).last(4).each do |user| %>
                        <tr>
                            <td>
                                <%= link_to profile_img(user), user %>
                                <%= link_to user.name, user %>
                            </td>
                            <td>
                                <% unless user == current_user %>
                                <%= render partial: 'follow_form', locals: { user: user } %>
                                <%= link_to '>>メッセージ送信', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
                                <% else %>
                                <%= link_to "マイアカウント", user, class: "btn btn-info btn-sm" %>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <% elsif @users.count == 13 %>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <table class="table table-hover">
                    <thead class="hidden-xs">
                        <tr>
                            <th>ユーザ名</th>
                            <th>友達つながり</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.order(id: :asc).last(3).each do |user| %>
                        <tr>
                            <td>
                                <%= link_to profile_img(user), user %>
                                <%= link_to user.name, user %>
                            </td>
                            <td>
                                <% unless user == current_user %>
                                <%= render partial: 'follow_form', locals: { user: user } %>
                                <%= link_to '>>メッセージ送信', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
                                <% else %>
                                <%= link_to "マイアカウント", user, class: "btn btn-info btn-sm" %>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <% elsif @users.count == 12 %>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <table class="table table-hover">
                    <thead class="hidden-xs">
                        <tr>
                            <th>ユーザ名</th>
                            <th>友達つながり</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.order(id: :asc).last(2).each do |user| %>
                        <tr>
                            <td>
                                <%= link_to profile_img(user), user %>
                                <%= link_to user.name, user %>
                            </td>
                            <td>
                                <% unless user == current_user %>
                                <%= render partial: 'follow_form', locals: { user: user } %>
                                <%= link_to '>>メッセージ送信', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
                                <% else %>
                                <%= link_to "マイアカウント", user, class: "btn btn-info btn-sm" %>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <% elsif @users.count == 11 %>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <table class="table table-hover">
                    <thead class="hidden-xs">
                        <tr>
                            <th>ユーザ名</th>
                            <th>友達つながり</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.order(id: :asc).last(1).each do |user| %>
                        <tr>
                            <td>
                                <%= link_to profile_img(user), user %>
                                <%= link_to user.name, user %>
                            </td>
                            <td>
                                <% unless user == current_user %>
                                <%= render partial: 'follow_form', locals: { user: user } %>
                                <%= link_to '>>メッセージ送信', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
                                <% else %>
                                <%= link_to "マイアカウント", user, class: "btn btn-info btn-sm" %>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <% else %>
        <% end %>
        
 
        
    </div>
    <%= paginate @users %>
</div>



　
　