<%= form_for(answer, remote: true) do |f| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form class="form-horizontal">
  
  <div class="form-group form-group-sm has-warning">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-1 text-nowrap"><%= f.label "投稿内容:", :class => "control-label" %></div>
        <div class="col-xs-12 col-sm-11"><%= f.text_area :content, :class => "form-control" %></div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-1"><div class="actions"><%= f.submit %></div></div>
        <div class="hidden-xs col-sm-10"><p></p></div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.hidden_field :question_id %>
    <%= f.hidden_field :user_id %>
  </div>
  
</form>



<% end %>
