<% answers.order(created_at: :desc).each do |answer| %>
  <% unless answer.id.nil? %>

 <div class="panel panel-danger">

     <div class="panel-heading">
     </div>

     <div class="panel-body">
      
        <div class="col-xs-12 col-sm-1 text-nowrap">
           回答者:<br />
           <%= answer.user.name %><br />
           <%= profile_img(answer.user) %>
        </div>
        
        <div class="col-xs-12 col-sm-11">
           <%= simple_format(answer.content) %>
        </div> 

     </div>
     
     <div class="panel-footer text-right">
       <% if current_user.id == answer.user_id %>
            <%= link_to 'Edit', edit_question_answer_path(@question, answer) %> | 
            <%= link_to 'Destroy', question_answer_path(@question, answer), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
       <% else %>
       <% end %>
      更新日:<%= answer.created_at %>
     </div>
     
 </div>
    
    
    
    
  <% end %>
<% end %>
