<div class="container">
<h2>プロジェクト一覧: <small><%= link_to "プロジェクトを投稿する！", new_project_path %></small></h2>
</div>

<% if @projects.any? %>
<% @projects.each do |project| %>
<div class="container">
    <div class="panel panel-primary">
         <div class="panel-heading">
              <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                       <h1 class="panel-title">プロジェクト名#  <%= link_to project.title, project_path(project) %></h1>
                    </div>
                  </div>
              </div>
         </div>
    
         <div class="panel-body">
           <div class="row">
                <div class="col-xs-12 col-sm-1 text-nowrap">
                    <%= profile_img(project.user) %>
                </div>
                <div class="col-xs-12 col-sm-11">
                   ＜プロジェクト作成者(リーダー）＞: <%= project.user.name %><br />
                   ＜プロジェクト依頼元＞: <%= project.client %><br />
                </div>
            </div>

         </div>
         
         <div class="panel-footer text-right">
           <% if current_user == project.user %>
    　   　 <%= link_to 'Edit', edit_project_path(project) %>| <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
           <% else %>
           <% end %>
           作成日:<%= project.created_at %>
         </div>
         
    </div>
</div>
<% end %>
<% else %>
<% end %>