<div class="container">
<h2>プロジェクトメンバー管理:</h2>
</div>

<div class="container">
    <div class="panel panel-primary">
         <div class="panel-heading">
              <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                       <h1 class="panel-title">プロジェクト名＃<%= @project.title %></h1>
                    </div>
                  </div>
              </div>
         </div>
    
         <div class="panel-body">
           <div class="row">
                <div class="col-xs-12 col-sm-1 text-nowrap">
                    <%= profile_img(@project.user) %>
                </div>
                <div class="col-xs-12 col-sm-11">
                   ＜プロジェクト作成者(リーダー）＞: <%= @project.user.name %><br />
                   ＜プロジェクト依頼元＞: <%= @project.client %><br />
                   ＜プロジェクト内容＞: <%= @project.content %><br />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h5><%= link_to "プロジェクトメンバー一覧>>", teammates_project_path(@project) %></h5>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <% if @project.user = current_user %>
                    <h5><%= link_to "プロジェクトメンバー管理>>", team_index_project_path(@project) %></h5>
                    <% else %>
                    <% end %>
                </div>
            </div>

         </div>
         
         <div class="panel-footer text-right">
           <% if current_user == @project.user %>
    　   　 <%= link_to 'Edit', edit_project_path(@project) %>｜<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
           <% else %>
           <% end %>
           | <%= link_to 'Back', project_path(@project) %> | 登録日:<%= @project.created_at %>
         </div>
         
    </div>
</div>

<div class="container">

    <h3>メンバー候補:</h3>

</div>
<% @users1 = @users.where.not(id: current_user.id) %>
<div class="container">
<%= paginate(@users1) %>

    <div class="row">
        
        
        
        <div class="col-xs-12">
            <div class="container-fluid">
                <table class="table table-hover">
                    
                    <tbody>
                        
                        <% @users1.order(created_at: :asc).in_groups_of(5) do |row| %>
                        <tr>
                            <% row.each do |user| %>
                            <td>
                                <% if user %>
                                    <% unless user == current_user %>
                                    <%= link_to profile_img(user), user %>
                                    <%= link_to user.name, user %>
                                    <%= render partial: 'projects/teammate_form', locals: {project: @project, user: user} %>
                                    <% else %>
                                    <% end %>
                                <% end %>
                            </td>
                            <% end %>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>


</div>