<%= form_for([@project, @project_task], url: project_project_task_path) do |f| %>
  <% if @project_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @project_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @project_task.user == current_user %>
  <div class="form-group">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="form-group">
    <%= f.label :Project_Title%><br>
    <%= f.hidden_field :project_id %>
    <%= @project.title %>
  </div>
  <div class="form-group">
    <%= f.label :Task_Title %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, :class => "form-control", :rows => "7" %>
  </div>
  <div class="form-group">
    <%= f.label :deadline %><br>
    <%= f.datetime_select :deadline, :use_month_numbers => true, :default => Time.now + 1.day + 9.hour  %>
  </div>
  <div class="fform-group">
    <%= f.hidden_field :charge_id %>
  </div>
  <div class="form-group">
    <%= f.label :status %><br>
    <%= f.select :status, [["未着手","0"],["対応中","1"]] %>
  </div>
<% else %>
  <div class="form-group">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="form-group">
    <%= f.label :Project_Title%><br>
    <%= f.hidden_field :project_id %>
    <%= @project.title %>
  </div>
  <div class="form-group">
    <%= f.label :Task_Title %><br>
    <%= @project_task.title %>
  </div>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= @project_task.content %>
  </div>
  <div class="form-group">
    <%= f.label :deadline %><br>
    <%= @project_task.deadline.strftime("%Y年%m月%d日 %H時%M分") %>
  </div>
  <div class="fform-group">
    <%= f.hidden_field :charge_id %>
  </div>
  <div class="form-group">
    <%= f.label :status %><br>
    <%= @project_task.status_name %>
<% end %>
  
  
  <div class="form-group">
    <%= f.label :完了チェック %><br>
    <%= f.check_box :done %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
